@font-face {
    font-family: 'myfont';
    src: url('../font/ShigotoMemogaki-Regular-1-01.ttf');
    /*
    src: url('../font/keifont.ttf');
    */
}

body {
    color: #000;
    font-family: Verdana, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.3;
    _overflow: hidden;
    padding: 0;
    margin: 8;
    width:960px;
}

/*------------------------
  TOPページ
------------------------*/
.header {
  height:20%;
  width:100%;
  position:fixed;
  top:0px;
  border-bottom: 1px #000000 solid;
}
.logo {
  text-align: left;
  float: left;;
}
.menu{

}

.menu_list {
  margin:auto;
  text-align: center;
  font-size:25px;
}

/*------------------------
  TOPページ
------------------------*/
.top_menu_list {
  margin-top:15%;
  margin-left: auto;
  margin-right: auto;
}

.top_menu_table{
  text-align:center;
  font-size:25px;
}

.top_title {
  margin:auto;
  text-align: center;
  font-size: 50px;
  font-weight:bold;
  font-family: 'myfont';
  color: #ee82ee;
}

.top_menu {
  font-family: 'myfont';
}

/*------------------------
  登録タブ
------------------------*/
.client_input_title {
  font-family: 'myfont';
  font-weight: bold;
}

.basic_infomation_input {
  margin-left:20px;
  width:80%;
  font-family: 'myfont';
}
.contact_info {
  padding-left:30px;
  width:20%;
}
.year {
  width: 50px;
}
.month {
  width:50px;
}
.day {
  width:50px;
}
.basicForm {
  width:100%;
}
.inputForm {
  width:70%;
  padding-right:40px;
}
.inputItem {
  width:30%;
}
.button_area {
  margin-top:50px;
}
.button {
  font-family: 'myfont';
  font-size: 25px;
}
