body {
    color: #000;
    font-family: Verdana, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.3;
    _overflow: hidden;
    padding: 0;
    margin: 8;
    width:960px;
}


/*------------------------
  フレーム部分
------------------------*/

#left_frame {
    left: 0;
    height: 100%;
    margin: 8 0 8 8;
    padding: 0;
    position: fixed;
    _position: absolute;
    top: 0;
    width: 200px;
}

#right_frame {
    margin: 8 8 8 210px;
    padding: 0;
    height: 100%;
    _overflow: auto;
}


/*------------------------
  タブ部分
------------------------*/
/* --- 共通 --- */

.hide {
    display: none;
}

/* --- メニュー --- */

.tab {
    overflow: hidden;
  margin:14px 0px 0px 0px;
}
.tab li {
    float: left;
    margin:0px;
    padding: 5px 25px;
    background: #ccc;
    list-style: none;
}
.tab li.select {
    background: #eee;
    list-style: none;
}

/* --- 中身 --- */
.content {
  margin:0px 0px 0px 0px;
  list-style: none;
}
.content li {
    margin:0px 0px 0px 0px;
    padding: 14px 0px 0px 0px;
    background: #eee;
    padding: 20px;
}


/*------------------------
  登録タブ
------------------------*/
.basic_infomation_input {
  margin-left:10px;
}
.contact_info {
  padding-left:30px;
}
.year {
  width: 50px;
}
.month {
  width:50px;
}
.day {
  width:50px;
}
.basicForm {
  width:100%;
}
.inputForm {
  width:4 00px;
}
.button_area {
  margin-top:50px;
}
